In [1]:
import pandas as pd
import numpy as np
import torch

/home/hwiric/anaconda3/envs/230818_UDT/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [27]:
# Construct DataFrame

class MyDataFrame():
    def __init__(self) -> None:
        self.indicies = ['texas', 'cornell', 'wisconsin', 'chameleon', 'squirrel', 'actor']


    def acc_std_df(self):
        my_dict = {
            'UDT acc': [79.73, 71.62, 76.47, 64.47, 52.03, 35.35],
            'UDT std' : [3.87, 5.95, 4.30, 2.18, 1.70, 1.24],
            'New accuracy': [77.03,70.27,80.78,65.40,47.94,0],
            'New std': [5.70,3.20,3.90,2.06,0,0]
        }  # 1trial-squirrel, 8trial-actor-ing
        self.acc_std = pd.DataFrame(data=my_dict, index=self.indicies)     
        

    def attention_encoder1_df(self):
        indicies = ['org || org (att11)','org || feat (att12)','org || str (att13)']
        my_dict = {
            'Texas avg': [0.0009,0.9986,0.0004],
            'Texas std' : [0.0011,0.0016,0.0007],
            'Cornell avg': [0.0001,0.9998,0.0001],
            'Cornell std': [0.0001,0.0001,0.0001],
            'Wisconsin avg': [0.0000,0.9999,0.0000],
            'Wisconsin std': [0.0000,0.0000,0.0000],
            'Chameleon avg': [0.0005,0.0005,0.9990],
            'Chameleon std': [0.0002,0.0002,0.0005],
            'Squirrel avg': [-1,-1,-1],
            'Squirrel std': [-1,-1,-1],
            'Actor avg': [-1,-1,-1],
            'Actor std': [-1,-1,-1],
        }
        self.att_enc1 = pd.DataFrame(data=my_dict, index=indicies)
        drop_list = ['Texas std','Cornell std','Wisconsin std','Chameleon std','Squirrel std','Actor std']
        self.att_enc1 = self.att_enc1.drop(columns=drop_list)


dataframes = MyDataFrame()

In [25]:
dataframes.acc_std_df()
dataframes.acc_std

           UDT acc  UDT std  New accuracy  New std
texas        79.73     3.87         77.03     5.70
cornell      71.62     5.95         70.27     3.20
wisconsin    76.47     4.30         80.78     3.90
chameleon    64.47     2.18         65.40     2.06
squirrel     52.03     1.70         47.94     0.00
actor        35.35     1.24          0.00     0.00

In [28]:
dataframes.attention_encoder1_df()
dataframes.att_enc1

,Texas avg,Cornell avg,Wisconsin avg,Chameleon avg,Squirrel avg,Actor avg
org || org (att11),0.0009,0.0001,0.0000,0.0005,-1,-1
org || feat (att12),0.9986,0.9998,0.9999,0.0005,-1,-1
org || str (att13),0.0004,0.0001,0.0000,0.9990,-1,-1