In [77]:
import pandas as pd
import numpy as np
import torch

In [78]:
# Construct DataFrame

class MyDataFrame():
    def __init__(self) -> None:
        self.indicies = ['texas', 'cornell', 'wisconsin', 'chameleon', 'squirrel', 'actor']


    def acc_std_df(self):
        my_dict = {
            'GREET acc(std)': ['78.11(6.22)','67.30(8.24)','72.75(4.25)','63.05(1.73)','41.51(1.04)','35.73(0.71)'],
            'UDT acc(std)': ['79.73(3.87)', '71.62(5.95)', '76.47(4.30)', '64.47(2.18)', '52.03(1.70)', '35.35(1.24)'],
            'New acc(std)': ['77.03(5.70)','70.27(3.20)','80.78(3.90)','65.40(2.06)','50.95(1.30)','36.01(1.05)'],
        }  
        self.acc_std = pd.DataFrame(data=my_dict, index=self.indicies)     
        

    def attention_encoder1_df(self):
        indicies = ['org || org (att11)','org || feat (att12)','org || str (att13)']
        my_dict = {
            'Texas avg': [0.0009,0.9986,0.0004],
            'Texas std' : [0.0011,0.0016,0.0007],
            'Cornell avg': [0.0001,0.9998,0.0001],
            'Cornell std': [0.0001,0.0001,0.0001],
            'Wisconsin avg': [0.0000,0.9999,0.0000],
            'Wisconsin std': [0.0000,0.0000,0.0000],
            'Chameleon avg': [0.0005,0.0005,0.9990],
            'Chameleon std': [0.0002,0.0002,0.0005],
            'Squirrel avg': [0.0000,0.0000,0.9999],
            'Squirrel std': [0.0000,0.0000,0.0000],
            'Actor encoder1 avg': [0.004,0.4177,0.5783],
            'Actor encoder1 std': [0.0047,0.3813,0.3789],
            'Actor encoder2 avg': [0.0184,0.3798,0.6017],
            'Actor encoder2 std': [0.0038,0.1136,0.1171],            
        }
        self.att_enc1 = pd.DataFrame(data=my_dict, index=indicies)
        drop_list = ['Texas std','Cornell std','Wisconsin std','Chameleon std','Squirrel std']
        self.att_enc1 = self.att_enc1.drop(columns=drop_list)


    def acc_std_df_without_att11(self):
        my_dict = {
            'Accuracy(std) with att11': ['77.03(5.70)','70.27(3.20)','80.78(3.90)','65.40(2.06)','50.95(1.30)','36.01(1.05)'],
            'Accuracy(std) without att11': ['79.19(6.40)', '71.62(4.05)', '80.78(3.49)', '64.23(2.58)', '52.09(2.04)', '35.28(1.07)'],
        }
        self.acc_std_without_att11 = pd.DataFrame(data=my_dict, index=self.indicies)     
        

    def attention_encoder1_df_without_att11(self):
        indicies = ['org || org (att11)','org || feat (att12)','org || str (att13)']
        my_dict = {
            'Chameleon encoder1 avg(std)': ['1','0.2570(0.0027)','0.7460(0.0027)'],
            'Chameleon encoder2 avg(std)': ['1','0.1407(0.0047)','0.8593(0.0047)'],
            'Actor encoder1 avg(std)': ['1', '0.1663(0.0182)', '0.8337(0.0182)'],
            'Actor encoder2 avg(std)': ['1','0.1905(0.0124)','0.8095(0.0124)'],
        }
        self.att_enc_without_att11 = pd.DataFrame(data=my_dict, index=indicies)


    def without_view_df(self):
        my_dict = {
            'Ours acc(std) K is 0': ['74.32(7.57)','70.81(4.49)','78.63(5.15)','-','-','-'],
            'GREET acc(std) K is 0': ['78.11(6.22)','67.30(8.24)','72.75(4.25)','63.05(1.73)','41.51(1.04)','35.73(0.71)'],
            'Ours acc(std) K is N': ['80.54(5.24)','75.14(2.65)','84.71(2.45)','-','-','-'],
            'GREET acc(std) K is N': ['86.76(3.51)','72.16(2.11)','83.73(4.73)','63.05(1.73)','41.51(1.04)','-'],            
        }  
        self.without_view = pd.DataFrame(data=my_dict, index=self.indicies)

dataframes = MyDataFrame()

In [79]:
dataframes.acc_std_df()
dataframes.acc_std

          GREET acc(std) UDT acc(std) New acc(std)
texas        78.11(6.22)  79.73(3.87)  77.03(5.70)
cornell      67.30(8.24)  71.62(5.95)  70.27(3.20)
wisconsin    72.75(4.25)  76.47(4.30)  80.78(3.90)
chameleon    63.05(1.73)  64.47(2.18)  65.40(2.06)
squirrel     41.51(1.04)  52.03(1.70)  50.95(1.30)
actor        35.73(0.71)  35.35(1.24)  36.01(1.05)

In [80]:
dataframes.attention_encoder1_df()
dataframes.att_enc1

,Texas avg,Cornell avg,Wisconsin avg,Chameleon avg,Squirrel avg,Actor encoder1 avg,Actor encoder1 std,Actor encoder2 avg,Actor encoder2 std
org || org (att11),0.0009,0.0001,0.0000,0.0005,0.0000,0.0040,0.0047,0.0184,0.0038
org || feat (att12),0.9986,0.9998,0.9999,0.0005,0.0000,0.4177,0.3813,0.3798,0.1136
org || str (att13),0.0004,0.0001,0.0000,0.9990,0.9999,0.5783,0.3789,0.6017,0.1171

In [81]:
dataframes.acc_std_df_without_att11()
dataframes.attention_encoder1_df_without_att11()

In [82]:
dataframes.acc_std_without_att11

          Accuracy(std) with att11 Accuracy(std) without att11
texas                  77.03(5.70)                 79.19(6.40)
cornell                70.27(3.20)                 71.62(4.05)
wisconsin              80.78(3.90)                 80.78(3.49)
chameleon              65.40(2.06)                 64.23(2.58)
squirrel               50.95(1.30)                 52.09(2.04)
actor                  36.01(1.05)                 35.28(1.07)

In [83]:
dataframes.att_enc_without_att11

,Chameleon encoder1 avg(std),Chameleon encoder2 avg(std),Actor encoder1 avg(std),Actor encoder2 avg(std)
org || org (att11),1,1,1,1
org || feat (att12),0.2570(0.0027),0.1407(0.0047),0.1663(0.0182),0.1905(0.0124)
org || str (att13),0.7460(0.0027),0.8593(0.0047),0.8337(0.0182),0.8095(0.0124)

In [84]:
dataframes.without_view_df()
dataframes.without_view

,Ours acc(std) K is 0,GREET acc(std) K is 0,Ours acc(std) K is N,GREET acc(std) K is N
texas,74.32(7.57),78.11(6.22),80.54(5.24),86.76(3.51)
cornell,70.81(4.49),67.30(8.24),75.14(2.65),72.16(2.11)
wisconsin,78.63(5.15),72.75(4.25),84.71(2.45),83.73(4.73)
chameleon,-,63.05(1.73),-,63.05(1.73)
squirrel,-,41.51(1.04),-,41.51(1.04)
actor,-,35.73(0.71),-,-